extends ./layout/layout.pug 

block content
    .homepage
        form(action='/add' method='get')
            input(type='submit', value='Add Job')
        
        ul 
            for item in jobs
                .job
                    a(class='single' href=`/jobapps/${ item.job_id }`)
                        h3= item.job_title
                    p #{ item.city }, #{ item.state }