doctype html
html(lang='en')
    head 
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title JobApps
        style 
            include ./../../public/styles.css
        
    body
        .header
            block header 
                .content
                    a(href='/') JobApps 
        .main
            .left
            .content
                block content 
            .right
        .footer 
            block footer
                .content
                    p Copyright &copy kztok JobApps 2022