doctype html
html(lang='en')
    head 
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title JobApps
        style 
            include ./../../public/styles.css
        
    body
        .header
            block header 
                a(href='/') JobApps 
        .content
            block content 
        .footer 
            block footer
                p footer